<% comments.each do |comment| %>

        <br>
        <div class="main-page-comment-company">

          <%= helper_draw_comment_card(comment) %>
          <%= helper_draw_company_card(comment.company) %>

        </div>

<% end %>