
	<div class="comment-show-user-logo">
    <%= image_tag("/images/thumb/deleted_user.png", size: "50x50") %>
    </div>
    <div class="show_deleted_box">
    	<span>Комментарий был удален!</span>
    </div>
