<div class="col-md-12">
  <div class="col-md-9">
    <div class="show-comment">
      <div class="">

      </div>
    </div>
  </div>
  <div class="col-md-3 advertisement">
    <img src="https://s-media-cache-ak0.pinimg.com/originals/dd/24/8f/dd248f6d8cc95ea36ba763700ade4501.jpg" alt="advertisement">

  </div>

</div>