<div class="row">
    <%= link_to show_negative_path, remote: true do %>
      <div class="home-negative col-sm-5 col-md-5" id="home-negative">
        Отрицательные <span><%= Ucomment.where(positive: false).count %></span>
      </div>
    <% end %>

    <div class="home-sorting col-sm-2 col-md-2">
      <span>Cортировка</span>
      <select name="home-sort" class="home-sort">
        <option value=""></option>
        <option value="1" selected="selected">По алфавиту</option>
        <option value="2">По обсуждаемости</option>
        <option value="3">По рейтингу</option>
      </select>
    </div>

    <%= link_to show_positive_path, remote: true do %>
      <div class="home-positive col-sm-5 col-md-5" id="home-positive">
        <span> <%= Ucomment.where(positive: true).count %></span> Положительные
      </div>
    <% end %>  
  </div>
</div>