
<% if @selected_companies.count == 0 %>
	<h2> В выбранной категории нет компаний </h2>
	<span> <%= link_to "Назад на главную", root_path %>  </span>
<% else %>
	<div class="row selected_companies"> 
		<% for company in @selected_companies do %>
			<div class="col-md-4 col-sm-4">
				<%= render 'mini_company_card', company: company %> 
			</div>
		<% end %>
	</div>

<% end %>		