.add-container {

}

.positive-negative-select {

}

#positive {
  background: #BFFFBF;
}

#negative {
  background: #FFBFBF;
}

.invisible_content {
  display:none;
}

#company_name_div {
  display:none;
}

.step-margin {
  margin-top: 10px;
}

.step-margin-max {
  height: 10px;

}

.search-box {
  display:none;
  position:absolute;
  margin:0px 0px;
  background-color: white;
  border-radius: 3px;
  box-shadow: 0px 0px 10px #000;
}

.partials {
  display:none;
}

#search_content{
  padding-top:4px;
  height:160px;
  position:relative;
  overflow-y: auto;
}

#search_status{
  position:relative;
  left:0;
  bottom:0;
  height: 39px;
  border-radius: 0px 0px 5px 5px;
  width: 100%;
  border-top: 1px solid grey;
  line-height: 39px;
  vertical-align: middle;
}

.company-item:hover {
  background: #E5EDFF;
  cursor: pointer;
}

.company-item {
  height: 52px;
}

.company-item-image{
  height: 40px;
  width: 40px;
  border: 1px solid grey;
}

.company-item-img-div {
  height: 51px;
  padding-top:5px;
  padding-left:5px;
  width: 50px;
  //outline: solid 1px #000000;
  //background-color: #0066CC;
  float: left;
}

.company-item-text-div {
  margin:0;
  height: 51px;
  padding-top:5px;
  //outline: solid 1px #000000;
  //background-color: red;

}

.company-item-text-title {
  margin-left: 20px;
  font-weight: bold;
  color:#286090;
  font-size: 14px;
}

.company-item-text-info {
  font-size: 12px;
}

.company-item-category {
  padding-left: 10px;
  font-size: 12px;
  color:black;
  font-weight: normal;
}

.company-item-email {
  padding-left: 10px;
  color: #286090;
  font-size: 12px;
}

.status-button:hover {
  background: #E5EDFF;
  cursor: pointer;
  border-radius: 0px 0px 5px 5px;
}

.search-status-msg {
  font-weight: bold;
}

.add-company-item {
  height: 35px;
}

.add-company-field-desc {
  margin:0;
  height: 34px;
  width: 150px;
  float: left;
  text-align: right;
}

.add-company-field {
  margin-left:150px;
  height: 34px;
  //padding-top:5px;
}

.add-company-field input[type="text"] {
  margin-left: 5px;
  width: 90%;
}

.div-space {
  height: 8px;
}

.add-company-back-btn {
  margin-top: -1px;
  margin-left: -1px;
  padding: 0;
  height: 41px;
  width: 41px;
  border: 1px solid gray;
  float: left;
  border-radius: 0px 0px 0px 5px;
}
.add-company-back-btn:hover {
  background: #E5EDFF ;
  cursor: pointer;
  border-radius: 0px 0px 5px 5px;
}

.add-company-back-btn img {
  margin-top: -3px;
  padding:0;
  height: 38px;
  width: 38px;
  border-radius: 0px 0px 0px 5px;
}

#add_create {
  margin-top: 0px;
  border-top: 1px;
  height: 39px;
  margin-left: 39px;
  border-radius: 0px 0px 5px 0px;
}

#add_create:hover {
  background: #E5EDFF ;
  cursor: pointer;
}

.star-img {
  height: 25px;
  width: 25px;
  margin-left: 5px;
  margin-right: 5px;
}

.star-img:hover {
  cursor: pointer;
}

#stars_show {
  display:none;
}

#company_card_show {
  display:none;
}


#input_block{
  display:none;
}

.msg-title {

}


.msg-content {
  rows: 5;
}



//outline: solid 1px #000000;
//background-color: #0066CC;


