/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require bootstrap-theme.min.css
 *= require bootstrap.min.css
 *= require navbar.scss
 *= require_self
 *= require_tree .
 */
body {
  margin: 0;
  padding: 0;
}

.navbar {
	margin-bottom: 0;
	border-radius: 0;
}

.alert {
	position: absolute;
  	top: 0;
  	left: 30%;
  	width: 40%;
  	opacity: 0.9;
  	z-index: 1010;
}

.sign_in {
	position:absolute;
	top:71px;
	right:0;
	width: 418px;
	height: 315px;
	opacity: 0.9;
	padding: 15px;
	background-color: #212934;
}

.sign_in .field {
	padding: 5px;
	text-align: center;
	margin-bottom: 3px;
}

.sign_in_email, .sign_in_password {
	color: white;
	text-align: left;
	float: left;
	display: block;
	width: 100px;
	padding-left: 5%;
}

.sign_in_password_field, .sign_in_email_field {
	display: inline-block;
	width: 267px;
	height: 23px;
}

.sign_in_enter {
	display: block;
	margin-left: 10px;
}

.sign_in_enter .actions {
	float: right;
	margin-right: 5px;
}

.sign_in_with {
	display: block;
	color: white;
	margin: auto;
}

.sign_in_with_social_icons {
	display: block;
	margin-left: 5px;
	margin-right: 5px;
	margin-bottom: 5px;
	
}

.sign_in_with_social_icons img {
	border-radius: 8px;
	margin-left: 10px;
}


