/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *= require_tree .
 */
@import "navbar";
@import "mains";
@import "bootstrap-sprockets";
@import "bootstrap";


body {
    margin: 0;
    padding: 0;
    background-color: #FFFFFF;
  }

.navbar {
	margin-bottom: 0;
	border-radius: 0;
	height: 70px;
    background: #212934;
}

.alert {
	position: absolute;
  	top: 0;
  	left: 30%;
  	width: 40%;
  	opacity: 0.9;
  	z-index: 1010;
}

.positive-center {
  text-align: center;
}

.negative-center {
  text-align: center;
}

.add-comment-button {
  position:absolute;
  z-index: 100;
}

.add-comment-image {
  max-height: 68px;
  max-width: 68px;
}

.logo-image {
  max-height:68px;
  margin-left: 80px;
}

.search-div {
  padding-top:15px;
  width:300px;
  padding-left: 60px;
}

.search-class:hover {
  cursor: pointer;
}

.search-class {
  padding: 0px;
}

.search-button-addon {
  background:white;
}

.search-button-image {
  margin-left:10px;
  margin-right:10px;
  width: 22px;
  height:22px;
}

.learn-truth {
  font-size: 38px;
  font-family: 'Bad Script', cursive;
  color: #FFFFFF;
  margin-left: 100px;

}
// SHARE BUTTON

.navbar-company-image {
  background-color: white;
  border: 1px solid #d9d9d9;
  height: 70px;
  width: 70px;
  overflow: hidden;
  text-align: center;
  margin-left: 20px;
  img {
    width: 100%
  }
}


