.show-company-card {
	margin-top: 1%;

}

.show-company-logo {
	float: right;
}

.show-company-details {
	line-height: 2;
}

.show-company-details span {
	font-weight: bold;
	display: inline-block;
	margin-right: 5px;
	text-align: right;
}
