// Place all the styles related to the pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.home-negative {
	display: block;
	float: left;
	height: 40px;
	border: 1px;
	text-align: center;
	padding-left: 30px;
	font: sans-serif;
	font-size: large;
	font-weight: bold;
	line-height: 40px;
	color: #800000;
  background: #FFBFBF;
}

.home-negative span {
  float: right;
}

.home-positive {
	display: block;
	float: left;
	height: 40px;
	border: 1px;
	text-align: center;
	padding-right: 30px;
	font: sans-serif;
	font-size: large;
	font-weight: bold;
	line-height: 40px;
	color: #008000;
	background: #BFFFBF;
}

.home-positive span {
  float: left;
}

.home-negative:hover, .home-positive:hover {
  background: lightgrey;
  border-style: inset;
}

.home-sorting, .home-select {
	display: block;
	float: left;
	padding: 5,0px;
	height: 40px;
	line-height: 40px;
	font-size: small;
	color: white;
	background: #212934;;
}

.home-sort {
	width: 50%;
	height: 30px;
	color: #212934;
}

.catalogue {
	position: fixed;
	bottom: 3%;
	z-index: 2;
}

.catalogue:hover {
	cursor: hand;
	cursor: pointer;
}

#rectangle {
	float: left;
	width: 140px;
	height: 30px;
	background: #CF0404;
	font-size: large;
	color: white;
	padding-left: 20%;
	padding-top: 2%;
}

#triangle-right {
	float: left;
	width: 0;
	height: 0;
	border-top: 15px solid transparent;
	border-left: 15px solid #CF0404;
	border-bottom: 15px solid transparent;
    #box-shadow: 10px 10px 5px red;

}
//----------------------------------------------Comment and company card----------------------
.main-page-comment-company {
  overflow: hidden;
  padding: 5px 5px;


}

.comment-main {
  width: 700px;
  height: 170px;
  float: left;
  margin-right: 40px;
  border: 1px solid white;
  overflow: hidden;
  padding-bottom: 10px;

}

.comment-user-logo {
  border: 1px solid darkgray;
  width: 80px;
  height: 80px;
  float: left;
  margin: 5px;
}


.comment-user-logo img {
  width: 100%;
  height: 100%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.20), 0 6px 20px 0 rgba(0, 0, 0, 0.10);
}

.comment-body {
  float: left;
  position: relative;
  width: 600px;
  height: 100%;
  padding-left: 10px;
  margin: 3px;
}

.comment-title {
  font-size: 14pt;
  font-weight: bold;
}

.comment-text {
  float: left;
  width: 80%;
  height: 95px;
  border: 2px;
  overflow: hidden;
  font-weight: normal;
  font-size:13px;
}

.img-head {
  height: 68px;
  width: 68px;
  margin-left: 30px;
}

.comment-buttons {
  position: absolute;
  width: 35px;
  height: 100%;
  top: 0px;
  right: 0px;

}

.comment-user-info {
  position: absolute;
  width: 90%;
  height: 12%;
  bottom: 0px;
  float: left;

}

.btn-for-comment-details {
  position: absolute;
  right: 20px;
  bottom: 3px;
}

.comment-user-info .btn {
  float: right;

}

.comment-positive {
  background-color: #BFFFBF ;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.20), 0 6px 20px 0 rgba(0, 0, 0, 0.10);
}

.comment-negative {
  background-color: #FFBFBF;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.20), 0 6px 20px 0 rgba(0, 0, 0, 0.10);

}


//------- Company Card -------

.selected_companies {
  margin: 10px;
}

.company-card {
  position: relative;
  overflow: hidden;
  border: 1px solid darkgray;
  height: 165px;
  width: 350px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.20), 0 6px 20px 0 rgba(0, 0, 0, 0.10);

}

.company-card-image {
  width: 100px;
  height: 110px;
  float: left;
}

.company-card img{
  width: 100%;
  height: 100%;
  float: left;
  padding: 10px 10px;
}

.company-card-upper {
  width: 350px;
  overflow: hidden;
  height: 30px;
  float: left;
}

.company-card-positive {
  width: 50%;
  height: 100%;
  float: left;
  overflow: hidden;
}

.company-card-like {
  width: 50%;
  height: 100%;
  color: #008000;
  background: #BFFFBF;
  float: left;
  text-align: center;

}

.company-card-like span{
  font-weight: bold;

}

.company-card-dislike {
  width: 50%;
  height: 100%;
  color: #800000;
  background: #FFBFBF;
  float: left;
  text-align: center;
}

.company-card-dislike span{
  font-weight: bold;

}

.company-card-votes {
  width: 50%;
  height: 100%;
  float: left;
  background-color:  #F0F0F0 ;
}

.company-card-info {
  width: 200px;
  float: left;
  padding: 5px;
  height: 110px;
  text-align: left;

}

.company-card-bottom {
  width: 100%;
  height: 30px;
  float: left;
  border: 2px;
  text-align: center;
  bottom: 0;
  position: absolute;
  background-color: #F0F0F0;
}

.mini_card_company_title {
  font-weight: bold;
  float: left;
  padding-left: 5%;
  padding-top: 1%;

}

.mini_card_company_review {
  font-weight: bold;
  float: right;
  padding-right: 5%;
  padding-top: 1%;
  
}

.main-stars {
  display: inline-block;
  margin-left: 5px;
  height: 14px;
  width: 14px;
}
