// Place all the styles related to the pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.home-negative {
	display: block;
	float: left;
	height: 40px;
	border: 1px;
	text-align: left;
	padding-left: 30px;
	font: sans-serif;
	font-size: large;
	font-weight: bold;
	line-height: 40px;
	color: #800000;
	background: #FFBFBF;	

}

.home-positive {
	display: block;
	float: left;
	height: 40px;
	border: 1px;
	text-align: right;
	padding-right: 30px;
	font: sans-serif;
	font-size: large;
	font-weight: bold;
	line-height: 40px;
	color: #008000;
	background: #BFFFBF;
}

.home-sorting, .home-select {
	display: block;
	float: left;
	padding: 5,0px;
	height: 40px;
	line-height: 40px;
	font-size: small;
	color: white;
	background: #212934;;
}

.home-sort {
	width: 50%;
	height: 30px;
	color: #212934;
}

.catalogue {
	position: fixed;
	bottom: 3%;
	z-index: 2;
}

.catalogue:hover {
	cursor: hand;
	cursor: pointer;
}

#rectangle {
	float: left;
	width: 140px;
	height: 30px;
	background: #CF0404;
	font-size: large;
	color: white;
	padding-left: 20%;
	padding-top: 2%;
}

#triangle-right {
	float: left;
	width: 0;
	height: 0;
	border-top: 15px solid transparent;
	border-left: 15px solid #CF0404;
	border-bottom: 15px solid transparent;
}
//----------------------------------------------
.main-page-comment-company {
  overflow: hidden;
  border: 2px solid #2E2F30;
  padding: 10px 10px;

}

.comment-main {
  width: 700px;
  height: 200px;
  float: left;
  margin-right: 40px;
  padding-bottom: 20px;
  border: 2px solid black;
}

.company-card {
  overflow: hidden;
  border: 2px solid #2E2F30;
  height: 200px;
  width: 350px;
}

.company-card img{
  width: 90px;
  float: left;
  padding: 10px 10px;
}

.company-card-upper {
  width: 100%;
  height: 30px;
  float: left;
  color: red;
  border: 2px solid black;
}

.company-card-positive {
  width: 150px;
  float: left;
}

.company-card-info {
  width: 200px;
  float: left;
  border: 2px;
  padding: 10px;
  height: auto;
  text-align: left;
}

.company-card-bottom {
  width: 100%;
  float: left;
  border: 2px;
  padding: 2px;
}



.company-card-bottom {
  height: 30px;
  text-align: center;
}
