.advertisement {

  height: 100%;
}

.advertisement img {
  width: 100%;
  margin-top: 10px;
}

.comment-show {
  width: 880px;
  height: 250px;
  float: left;
  overflow: hidden;
  margin: 5px;
  padding-bottom: 10px;
}

.comment-show-user-logo {
  border: 1px solid darkgrey;
  width: 80px;
  height: 80px;
  float: left;
  margin: 5px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.20), 0 6px 20px 0 rgba(0, 0, 0, 0.10);
}

.comment-show-user-logo img {
  width: 100%;
  height: 100%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.20), 0 6px 20px 0 rgba(0, 0, 0, 0.10);


}

.comment-show-body {
  float: left;
  position: relative;
  width: 780px;
  height: 100%;
  padding-left: 10px;
  margin: 5px;

}


.comment-show-title {
  font-size: 14pt;
  font-weight: bold;
}

.comment-show-text {
  float: left;
  width: 80%;
  height: 95px;
  border: 2px;
}

.comment-show-buttons {
  position: absolute;
  width: 35px;
  height: 100%;
  top: 0px;
  right: 0px;

}

.comment-show-user-info {
  position: absolute;
  width: 90%;
  height: 12%;
  bottom: 0px;
  float: left;
}

.btn-for-answer-show {
  position: absolute;
  right: 20px;
  bottom: 7px;
}

.comment-show-user-info .btn {
  float: right;
}

.comment-positive {
  background-color: #BFFFBF;
}

.comment-negative {
  background-color: #FFBFBF;
}

/* Style for show view of ucomment at the Ucomment page*/
.show_topcomment_total_replies {
  margin-top: 10px;
  text-align: center;
  font-weight: bold;
}

/* Style for show view of subucomment */
.show_subcomment_box, .show_deleted_box  {
  background: #F5F5F5;
  margin: 5px;
  border: 1px solid black;
  min-height: 80px;
  margin-left: 100px;
}

.show_subcomment_user {
  background: #F0F0F0;
  font-weight: italic;
  margin: 5px 0;
  padding-left: 10px;
}

.show_subcomment_body {
  padding-left: 10px;
}

.show_deleted_box {
  font-weight: bold;
  text-align: center;
  padding-top: 25px;
} 

.show_subcomment_buttons {
  float: right;
  margin-bottom: 10px;
}

.add_reply_to_comment {
  background: #FFFFBF;
  border: 1px solid gray;
  margin-bottom: 5px;
}

.add_reply_to_comment_attachment {
  display: inline-block;
  padding-top: 15px;
}

.add_reply_to_comment_buttons {
  float: right;
  padding-bottom: 5px;
}

.subcomment_indent_1 {
  width: 95%;
  float: right;

}

.subcomment_indent_2 {
  width: 90%;
  float: right;
}

.subcomment_indent_3 {
  width: 85%;
  float: right;
}

.subcomment_indent_4 {
  width: 80%;
  float: right;
}

.subcomment_indent_5 {
  width: 75%;
  float: right;
}