.show-comment {
  border: 2px solid black;
  height: 100%;
  position: relative;
  overflow: hidden;
}

.advertisement {
  border: 2px solid pink;
  height: 100%;
}

.advertisement img {
  width: 100%;
}