<% require 'devise/version' %>
<p><%= t('.greeting', recipient: @resource.email) %></p>

<p><%= t('.instruction') %></p>
<p><%= link_to "Активировать", confirmation_url(confirmation_token: @token) %></p>